<header class="header">

    <div class="title" id="breadcrumb">
        Automation Runner
    </div>

    <div id="userMenu" class="user-menu hidden">

        <button id="userDisplay" class="user-display">
            <div id="userAvatar" class="user-avatar"></div>
            <span id="userNameLabel"></span>
            <span class="chevron">▾</span>
        </button>

        <div id="userDropdown" class="user-dropdown hidden">

            <a href="/" class="dropdown-item">
                Home
            </a>

            <a href="/create-User" class="dropdown-item">
                Create User
            </a>

            <a href="/create-user#edit" class="dropdown-item">Edit my Details</a>

            <a href="/run-history" class="dropdown-item">
                Run History
            </a>

            <div class="dropdown-divider"></div>

            <a id="logoutBtn" class="dropdown-item logout">
                Logout
            </a>

        </div>

</header>

<script src="/scripts/header.js"></script>