<header class="header">
    <img class="logo" src="/images/optum-logo.png" alt="Optum">

    <div class="title" id="breadcrumb">
        Automation Runner → Choose a Product
    </div>

    <div id="userMenu" class="user-menu hidden">
        <button id="userDisplay" class="user-display">
            <div id="userAvatar" class="user-avatar"></div>
            <span id="userNameLabel"></span>
            <span class="chevron">▾</span>
        </button>

        <div id="userDropdown" class="user-dropdown hidden">
            <a href="/createUser" class="dropdown-item">
                <span class="item-icon">➕</span> Create User
            </a>

            <a href="/run-history" class="dropdown-item">
                <span class="item-icon">📜</span> Run History
            </a>

            <button id="logoutBtn" class="dropdown-item logout">
                <span class="item-icon">🚪</span> Logout
            </button>
        </div>
    </div>
</header>